@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: #020255;
}

html::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 0.5rem;
}

section {
  padding: 5rem 7%;
}

.heading {
  font-size: 4rem;
  color: #020255;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #020255;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #ffd700;
  color: #020255;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #020255;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #ffd700;
}

.header .logo i {
  color: #ffd700;
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #ffd700;
}

.header .navbar .btn {
  margin-top: 0;
  color: #fff;
}

.header .navbar .btn:hover {
  color: #fff;
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #333;
}

#menu-btn:hover {
  color: #020255;
}
/* home */

.home {
  padding: 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.home .slide .content {
  width: 80rem;
  text-align: center;
}

.home .slide .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffd700;
  line-height: 1.1;
  padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  color: #020255;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffd700;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

/* end */

/* availability */
.availability {
  margin-top: 5%;
}

.availability form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #eee;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 30px #020255;
}

.availability form .box {
  flex: 1 1 20rem;
}

.availability form .box p {
  font-size: 2rem;
  color: #020255;
}

.availability form .box .input {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  color: #333;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

/* end */
.about{
 margin-top: 100px;
}
.about h2{
        width: 100%;
    }
.about p{
        width:100%;
    }

.about h2{
    margin-left: 45%;
    margin-top: 80px;
    position: absolute;
}
.pic1 img{
    float: left;
    margin-left: 50px;
}
.about p{
    margin-left: 45%;
    margin-top: 120px;
    position: absolute;
}
.services-section {
    padding: 50px 0;
    text-align: center;
    height: 100vh;
    background:url("images/comfortable.jpg");
    animation-name: section;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes section {
    0% {background: url("images/comfortable.jpg");}
    50% {background: url("images/dining1.jpg");}
    100% {background: url("images/pool1.jpg");}
}

.service {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.service-title {
    font-size: 24px;
    margin-top: 10px;
}

.service-description {
    font-size: 16px;
    margin-top: 10px;
}
/* reservation */
.reservation form {
  padding: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  box-shadow: 10px 10px 30px #020255;
}

.reservation form .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.reservation form .container .box {
  flex: 1 1 40rem;
}

.reservation form .container .box p {
  font-size: 1.8rem;
  color: #020255;
}

.reservation form .container .box .input {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.1);
  color: #020255;
}

/* review */

.review {
  background-image: url("images/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 48rem;
  position: relative;
  margin: 4rem 0;
  display: flex;
  margin-top: 10%;
  padding-bottom: 10%;
}

.row {
  display: flex;
}

.review .review-slider {
  box-shadow: 10px 10px 30px #020255;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background: #ffd700;
  padding: 2rem;
  width: 50%;
  height: 145%;
  margin-top: -8rem;
  margin-right: 5rem;
  padding-top: 6%;
  padding-bottom: 6%;
  color: #020255;
}

.review .slide {
  text-align: center;
}

.review .slide .heading {
  color: #020255;
}

.review .slide i {
  font-size: 6rem;
  color: #020255;
}

.review .slide p {
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  font-size: 1rem;
  line-height: 1.8;
  color: #020255;
}

.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 15%;
  object-fit: cover;
}

.review .slide .user h3 {
  font-size: 2rem;
  color: #020255;
  padding-bottom: 0.5rem;
}

.review .slide .user i {
  font-size: 1.3rem;
  color: #020255;
}
/* footer */
.footer {
  background: #09094b77;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #020255;
}

.footer .box-container .box a {
  font-size: 1.6rem;
  display: block;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #ffd700;
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: #020255;
}

.footer .share {
  padding-top: 2rem;
  text-align: center;
}

.footer .share a {
  color: #ffd700;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid #020255;
  margin: 0.3rem;
}

.footer .share a:hover {
  color: #fff;
  background: #020255;
  transform: rotate(360deg);
}

.footer .credit {
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #ffd700;
}

.footer .credit span {
  color: #020255;
}

/*----responsive styling-----*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 3rem;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-radius: 0.5rem;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .slide .content {
    width: 50rem;
  }

  .review .review-slider {
    width: 100%;
    padding: 1rem;
    padding-top: 15%;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content {
    width: 30rem;
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}

=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: #020255;
}

html::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 0.5rem;
}

section {
  padding: 5rem 7%;
}

.heading {
  font-size: 4rem;
  color: #020255;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #020255;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #ffd700;
  color: #020255;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #020255;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #ffd700;
}

.header .logo i {
  color: #ffd700;
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #ffd700;
}

.header .navbar .btn {
  margin-top: 0;
  color: #fff;
}

.header .navbar .btn:hover {
  color: #fff;
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #333;
}

#menu-btn:hover {
  color: #020255;
}
/* home */

.home {
  padding: 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.home .slide .content {
  width: 80rem;
  text-align: center;
}

.home .slide .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffd700;
  line-height: 1.1;
  padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  color: #020255;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffd700;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

/* end */

/* availability */
.availability {
  margin-top: 5%;
}

.availability form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #eee;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 30px #020255;
}

.availability form .box {
  flex: 1 1 20rem;
}

.availability form .box p {
  font-size: 2rem;
  color: #020255;
}

.availability form .box .input {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  color: #333;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

/* end */
/* reservation */
.reservation form {
  padding: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  box-shadow: 10px 10px 30px #020255;
}

.reservation form .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.reservation form .container .box {
  flex: 1 1 40rem;
}

.reservation form .container .box p {
  font-size: 1.8rem;
  color: #020255;
}

.reservation form .container .box .input {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.1);
  color: #020255;
}

/* review */

.review {
  background-image: url("images/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 48rem;
  position: relative;
  margin: 4rem 0;
  display: flex;
  margin-top: 10%;
  padding-bottom: 10%;
}

.row {
  display: flex;
}

.review .review-slider {
  box-shadow: 10px 10px 30px #020255;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background: #ffd700;
  padding: 2rem;
  width: 50%;
  height: 145%;
  margin-top: -8rem;
  margin-right: 5rem;
  padding-top: 6%;
  padding-bottom: 6%;
  color: #020255;
}

.review .slide {
  text-align: center;
}

.review .slide .heading {
  color: #020255;
}

.review .slide i {
  font-size: 6rem;
  color: #020255;
}

.review .slide p {
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  font-size: 1rem;
  line-height: 1.8;
  color: #020255;
}

.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 15%;
  object-fit: cover;
}

.review .slide .user h3 {
  font-size: 2rem;
  color: #020255;
  padding-bottom: 0.5rem;
}

.review .slide .user i {
  font-size: 1.3rem;
  color: #020255;
}
/* footer */
.footer {
  background: #09094b77;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #020255;
}

.footer .box-container .box a {
  font-size: 1.6rem;
  display: block;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #ffd700;
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: #020255;
}

.footer .share {
  padding-top: 2rem;
  text-align: center;
}

.footer .share a {
  color: #ffd700;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid #020255;
  margin: 0.3rem;
}

.footer .share a:hover {
  color: #fff;
  background: #020255;
  transform: rotate(360deg);
}

.footer .credit {
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #ffd700;
}

.footer .credit span {
  color: #020255;
}

/*----responsive styling-----*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 3rem;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-radius: 0.5rem;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .slide .content {
    width: 50rem;
  }

  .review .review-slider {
    width: 100%;
    padding: 1rem;
    padding-top: 15%;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content {
    width: 30rem;
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}

=======
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: #020255;
}

html::-webkit-scrollbar-thumb {
  background: #ffd700;
  border-radius: 0.5rem;
}

section {
  padding: 5rem 7%;
}

.heading {
  font-size: 4rem;
  color: #020255;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #020255;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

.btn:hover {
  background: #ffd700;
  color: #020255;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #020255;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #ffd700;
}

.header .logo i {
  color: #ffd700;
  padding-right: 0.5rem;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #ffd700;
}

.header .navbar .btn {
  margin-top: 0;
  color: #fff;
}

.header .navbar .btn:hover {
  color: #fff;
}

#menu-btn {
  display: none;
  font-size: 2.5rem;
  margin-left: 1.7rem;
  cursor: pointer;
  color: #333;
}

#menu-btn:hover {
  color: #020255;
}
/* home */

.home {
  padding: 0;
}

.home .slide {
  min-height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.home .slide .content {
  width: 80rem;
  text-align: center;
}

.home .slide .content h3 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ffd700;
  line-height: 1.1;
  padding: 2rem 0;
}

.swiper-button-next,
.swiper-button-prev {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  color: #020255;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #ffd700;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

/* end */

/* availability */
.availability {
  margin-top: 5%;
}

.availability form {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #eee;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 10px 10px 30px #020255;
}

.availability form .box {
  flex: 1 1 20rem;
}

.availability form .box p {
  font-size: 2rem;
  color: #020255;
}

.availability form .box .input {
  width: 100%;
  padding: 1rem;
  font-size: 1.8rem;
  color: #333;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

/* end */
/* reservation */
.reservation form {
  padding: 2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  box-shadow: 10px 10px 30px #020255;
}

.reservation form .container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.reservation form .container .box {
  flex: 1 1 40rem;
}

.reservation form .container .box p {
  font-size: 1.8rem;
  color: #020255;
}

.reservation form .container .box .input {
  font-size: 1.8rem;
  width: 100%;
  padding: 1rem 0;
  margin: 1rem 0;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.1);
  color: #020255;
}

/* review */

.review {
  background-image: url("images/review.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 48rem;
  position: relative;
  margin: 4rem 0;
  display: flex;
  margin-top: 10%;
  padding-bottom: 10%;
}

.row {
  display: flex;
}

.review .review-slider {
  box-shadow: 10px 10px 30px #020255;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  background: #ffd700;
  padding: 2rem;
  width: 50%;
  height: 145%;
  margin-top: -8rem;
  margin-right: 5rem;
  padding-top: 6%;
  padding-bottom: 6%;
  color: #020255;
}

.review .slide {
  text-align: center;
}

.review .slide .heading {
  color: #020255;
}

.review .slide i {
  font-size: 6rem;
  color: #020255;
}

.review .slide p {
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  font-size: 1rem;
  line-height: 1.8;
  color: #020255;
}

.review .slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
}

.review .slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 15%;
  object-fit: cover;
}

.review .slide .user h3 {
  font-size: 2rem;
  color: #020255;
  padding-bottom: 0.5rem;
}

.review .slide .user i {
  font-size: 1.3rem;
  color: #020255;
}
/* footer */
.footer {
  background: #09094b77;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  padding: 1rem 0;
  color: #020255;
}

.footer .box-container .box a {
  font-size: 1.6rem;
  display: block;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a i {
  color: #ffd700;
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: #020255;
}

.footer .share {
  padding-top: 2rem;
  text-align: center;
}

.footer .share a {
  color: #ffd700;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  border: 0.1rem solid #020255;
  margin: 0.3rem;
}

.footer .share a:hover {
  color: #fff;
  background: #020255;
  transform: rotate(360deg);
}

.footer .credit {
  font-size: 2rem;
  text-align: center;
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  color: #ffd700;
}

.footer .credit span {
  color: #020255;
}

/*----responsive styling-----*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 2rem 3rem;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header .navbar {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    background: var(--white);
    border-radius: 0.5rem;
  }

  .header .navbar.active {
    right: 2rem;
    transition: 0.4s linear;
  }

  .header .navbar a {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }

  .home .slide .content {
    width: 50rem;
  }

  .review .review-slider {
    width: 100%;
    padding: 1rem;
    padding-top: 15%;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .home .slide .content {
    width: 30rem;
  }

  .home .slide .content h3 {
    font-size: 3rem;
  }
  .row {
    display: block;
  }
  .review {
    background: #fff;
    width: 100%;
    height: fit-content;
    position: relative;
    margin: 1rem 0;
    display: block;
    padding-top: 10%;
  }
  .review .review-slider {
    background: #ffd700;
    padding: 3rem;
    margin-top: 4rem;
    margin-right: 1rem;
    color: #020255;
  }
}
