body {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

#text {
    position: relative;
    float: left;
}

.slider-frame {
    overflow: hidden;
    width: 800px;
    height: 400px;
    margin-left: 360px;
    margin-top: 20px;
    object-fit: fill;
    border-width: 800px;
    border-radius: 15px;
    margin-right: 200px;
    position: relative;
    float: right;
}

@-webkit-keyframes slide_animation {
    0% {
        left: 0px;
    }
    10% {
        left: 0px;
    }
    20% {
        left: 1200px;
    }
    30% {
        left: 1200px;
    }
    40% {
        left: 2400px;
    }
    50% {
        left: 2400px;
    }
    60% {
        left: 1200px;
    }
    70% {
        left: 1200px;
    }
    80% {
        left: 0px;
    }
    90% {
        left: 0px;
    }
    100% {
        left: 0px;
    }
}

.slide-images {
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container {
    width: 1200px;
    height: 800px;
    position: relative;
    float: left;
}